#newsDetails {
  background-color: #dadada;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#postTitle h2 {
  color: #333333;
  font-size: 28px;
  margin-bottom: 20px;
}

#newsItem p {
  color: #555555;
  font-size: 18px;
  line-height: 1.6;
}

#link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#link a:hover {
  text-decoration: underline;
}
